.body {
  margin: 0;
}
a{
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 8px 12px;
}
.navbar__logo {
  font-size: 24px;
  color
}
